@model List<IGrouping<string, ReportModel>>
<h1>@ViewData["Title"]</h1>

@foreach (var otdelGroup in Model)
{
    double sumKm = 0;
    double sumLitres = 0;
    <h2>@otdelGroup.Key</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Автомобил</th>
                <th>Общо км</th>
                <th>Общо литри</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var motoGroup in otdelGroup)
            {
                sumKm += motoGroup.TotalKm;
                sumLitres += motoGroup.TotalLitres;
                <tr>
                    <td>@motoGroup.Moto</td>
                    <td>@motoGroup.TotalKm</td>
                    <td>@motoGroup.TotalLitres</td>
                </tr>
            }
            <tr>
                <th>Общо</th>
                <th>@sumKm</th>
                <th>@Math.Round(sumLitres, 2)</th>
            </tr>
        </tbody>
    </table>
}

@* <table class="table">
    <thead>
        <tr>
            <th asp-display-name-for="@Model.First().MotoNumberAndName"></th>
            <th asp-display-name-for="@Model.First().SlujitelName"></th>
            <th asp-display-name-for="@Model.First().OtdelName"></th>
            <th asp-display-name-for="@Model.First().KmId"></th>
            <th asp-display-name-for="@Model.First().KmKm"></th>
            <th asp-display-name-for="@Model.First().Litres"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td asp-display-for="@item.MotoNumberAndName"></td>
                <td asp-display-for="@item.SlujitelName"></td>
                <td asp-display-for="@item.OtdelName"></td>
                <td asp-display-for="@item.KmId"></td>
                <td asp-display-for="@item.KmKm"></td>
                <td asp-display-for="@item.Litres"></td>
            </tr>
        }
    </tbody>
</table> *@