@model List<IGrouping<string, ReportModel>>
<h1>@ViewData["Title"]</h1>
@await Component.InvokeAsync("Search")
@{
    int count = 0;
}

@foreach (var otdelGroup in Model)
{
    double sumKm = 0;
    double sumLitres = 0;
    <h2>@otdelGroup.Key</h2>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th asp-display-name-for="@otdelGroup.FirstOrDefault().MotoNumber"></th>
                <th asp-display-name-for="@otdelGroup.FirstOrDefault().Moto"></th>
                <th asp-display-name-for="@otdelGroup.FirstOrDefault().TotalKm"></th>
                <th asp-display-name-for="@otdelGroup.FirstOrDefault().TotalLitres"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var motoGroup in otdelGroup)
            {
                sumKm += motoGroup.TotalKm;
                sumLitres += motoGroup.TotalLitres;
                <tr>
                    <td>@(++count)</td>
                    <td asp-display-for="@motoGroup.MotoNumber"></td>
                    <td asp-display-for="@motoGroup.Moto"></td>
                    <td asp-display-for="@motoGroup.TotalKm"></td>
                    <td>@Math.Round(motoGroup.TotalLitres, 2)</td>
                </tr>
            }
            <tr>
                <th></th>
                <th></th>
                <th>Общо</th>
                <th>@sumKm</th>
                <th>@Math.Round(sumLitres, 2)</th>
            </tr>
        </tbody>
    </table>
    count = 0;
}