@using Avto.Data
@model IDictionary<string, IEnumerable<Transak>>
<h1>@ViewData["Title"]</h1>
@await Component.InvokeAsync("Search")
@{
    int count = 0;
}

@foreach (var group in Model)
{
    double sumKm = 0;
    <h2>@group.Key</h2>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Автомобил</th>
                <th>Шофьор</th>
                <th>Вид работа</th>
                <th>км</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var value in group.Value)
            {
                sumKm += (double)value.KmKm;
                <tr>
                    <td>@(++count)</td>
                    <td>@value.PList.Moto.NameNumber</td>
                    <td>@value.PList.Slujitel.Name</td>
                    <td>@value.KmId</td>
                    <td>@value.KmKm</td>
                </tr>
            }
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Общо</th>
                <th>@sumKm</th>
            </tr>
        </tbody>
    </table>
}