@{
    var searchVm = ViewData["Search"] as SearchModel;
}

<div class="pager-container d-flex justify-content-center ">
    @if ((int)ViewData["TotalPages"] > 1)
    {
        <nav>
            <ul class="pagination flex-wrap">
                @{
                    searchVm.Page = (int)ViewBag.Page - 1;
                }
                <li asp-if="((int)ViewBag.Page > 1)" class="page-item">
                    <a class="page-link" search-vm="@searchVm">&lt;&lt;</a>
                </li>

                @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
                {
                    searchVm.Page = i;
                    <li class="page-item @(i == (int)ViewData["Page"] ? "active" : "")">
                        <a class="page-link" search-vm="@searchVm">@i</a>
                    </li>
                }
                @{
                    searchVm.Page = (int)ViewBag.Page + 1;
                }
                <li asp-if="((int)ViewBag.Page < (int)ViewBag.TotalPages)" class="page-item">
                    <a class="page-link" search-vm="@searchVm">>></a>
                </li>
            </ul>
        </nav>
    }
</div>
