@{
    var searchVm = ViewData["Search"] as SearchModel;
    var currentPage = searchVm.Page;
}

<div class="pager-container d-flex justify-content-center ">
    @if ((int)ViewData["TotalPages"] > 1)
    {
        <nav>
            <ul class="pagination flex-wrap">
                @{
                    searchVm.Page = currentPage - 1;
                }
                <li asp-if="(currentPage > 1)" class="page-item">
                    <a class="page-link" search-vm="@searchVm">&lt;&lt;</a>
                </li>

                @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                    @{
                        searchVm.Page = i;
                    }
                    <a class="page-link" search-vm="@searchVm">@i</a>
                    </li>
                }
                @{
                    searchVm.Page = currentPage + 1;
                }
                <li asp-if="(currentPage < (int)ViewBag.TotalPages)" class="page-item">
                    <a class="page-link" search-vm="@searchVm">>></a>
                </li>
            </ul>
        </nav>
    }
</div>
