@{
    var searchVm = ViewData["Search"] as SearchModel;
    var currentPage = searchVm.Page;
}

<div class="pager-container d-flex justify-content-center ">
    <nav asp-if="searchVm.TotalPages > 1">
        <ul class="pagination flex-wrap">
            <li asp-if="currentPage > 1" class="page-item">
                @{
                    searchVm.Page = currentPage - 1;
                }
                <a class="page-link" search-vm="@searchVm">&lt;&lt;</a>
            </li>
            @for (int i = 1; i <= searchVm.TotalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    @{
                        searchVm.Page = i;
                    }
                    <a class="page-link" search-vm="@searchVm">@i</a>
                </li>
            }
            <li asp-if="currentPage < searchVm.TotalPages" class="page-item">
                @{
                    searchVm.Page = currentPage + 1;
                }
                <a class="page-link" search-vm="@searchVm">>></a>
            </li>
        </ul>
    </nav>
</div>
