@model IEnumerable<OtdelModel>
@Html.Partial("_IndexHead", Model)

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TekushtaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><a asp-action="Edit" asp-route-id="@item.Id">@item.Name</a></td>
            <td asp-display-for="@item.TekushtaData"></td>
            <td asp-display-for="@item.User"></td>
        </tr>
}
    </tbody>
</table>
