@model Avto.Data.Transak

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtdelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtdelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlujitelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlujitelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kmid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kmid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsnovnaTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsnovnaTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RudnikTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RudnikTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OkragTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OkragTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StolicaTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StolicaTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradskaTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradskaTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MqstoTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MqstoTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlimaTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlimaTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgregatTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgregatTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zarabotka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zarabotka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Izvan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Izvan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlimatikTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlimatikTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PechkaTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PechkaTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TekushtaData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TekushtaData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
