@model IEnumerable<TransakModel>
<h1>@ViewData["Title"]</h1>
@await Component.InvokeAsync("Search")
@{
    int count = 0;
}
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th asp-display-name-for="@Model.First().PListId"></th>
            <th asp-display-name-for="@Model.First().PList.Data"></th>
            <th asp-display-name-for="@Model.First().PList.Moto.NumberAndName"></th>
            <th asp-display-name-for="@Model.First().PList.Slujitel.Name"></th>
            <th>@Html.DisplayNameFor(model => model.Otdel.Name)</th>
            <th>@Html.DisplayNameFor(model => model.KmId)</th>
            <th>@Html.DisplayNameFor(model => model.KmKm)</th>
            <th>Литри</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(((ViewData["Search"] as SearchModel).Page - 1) * 100 + ++count)</td>
                <td><a asp-controller="PLists" asp-action="Edit" asp-route-id="@item.PListId">@item.PList.Number</a></td>
                <td>@item.PList.Data?.ToString("dd.MM.yyyy")</td>
                <td><a asp-controller="Motos" asp-action="Edit" asp-route-id="@item.PList.MotoId">@item.PList.Moto.NumberAndName</a></td>
                <td><a asp-controller="Slujiteli" asp-action="Edit" asp-route-id="@item.PList.SlujitelId">@item.PList.Slujitel.Name</a></td>
                <td><a asp-controller="Otdels" asp-action="Edit" asp-route-id="@item.OtdelId">@item.Otdel.Name</a></td>
                <td asp-display-for="@item.KmId"></td>
                <td asp-display-for="@item.KmKm"></td>
                <td asp-display-for="@item.Litres"></td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Pager" />