@model IEnumerable<Avto.Data.Transak>

@{
    ViewData["Title"] = "Записи в пътни листи";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th asp-display-name-for="@Model.First().MotoId"></th>
            <th asp-display-name-for="@Model.First().OtdelId"></th>
            <th asp-display-name-for="@Model.First().SlujitelId"></th>
            <th asp-display-name-for="@Model.First().KmId"></th>
            <th asp-display-name-for="@Model.First().PListId"></th>
            <th asp-display-name-for="@Model.First().DateTrans"></th>
            <th asp-display-name-for="@Model.First().TransNumber"></th>
            <th asp-display-name-for="@Model.First().KmKm"></th>
            <th asp-display-name-for="@Model.First().RudnikTrans"></th>
            <th asp-display-name-for="@Model.First().OkragTrans"></th>
            <th asp-display-name-for="@Model.First().StolicaTrans"></th>
            <th asp-display-name-for="@Model.First().GradskaTrans"></th>
            <th asp-display-name-for="@Model.First().KlimaTrans"></th>
            <th asp-display-name-for="@Model.First().AgregatTrans"></th>
            <th asp-display-name-for="@Model.First().Zarabotka"></th>
            <th asp-display-name-for="@Model.First().Izvan"></th>
            <th asp-display-name-for="@Model.First().Doma"></th>
            <th asp-display-name-for="@Model.First().KlimatikTrans"></th>
            <th asp-display-name-for="@Model.First().PechkaTrans"></th>
            <th asp-display-name-for="@Model.First().User"></th>
            <th asp-display-name-for="@Model.First().TekushtaData"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
                <td>@item.MotoId</td>
                <td>@item.OtdelId</td>
                <td>@item.SlujitelId</td>
                <td>@item.KmId</td>
                <td>@item.PListId</td>
                <td>@item.DateTrans</td>
                <td>@item.TransNumber</td>
                <td>@item.KmKm</td>
                <td>@item.RudnikTrans</td>
                <td>@item.OkragTrans</td>
                <td>@item.StolicaTrans</td>
                <td>@item.GradskaTrans</td>
                <td>@item.KlimaTrans</td>
                <td>@item.AgregatTrans</td>
                <td>@item.Zarabotka</td>
                <td>@item.Izvan</td>
                <td>@item.Doma</td>
                <td>@item.KlimatikTrans</td>
                <td>@item.PechkaTrans</td>
                <td>@item.User</td>
                <td>@item.TekushtaData</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
