@model IEnumerable<Avto.Data.PList>

@{
    ViewData["Title"] = "Записи в пътни листи";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Нов</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th asp-display-name-for="@Model.First().Number"></th>
            <th asp-display-name-for="@Model.First().Data"></th>
            <th asp-display-name-for="@Model.First().Moto"></th>
            <th asp-display-name-for="@Model.First().Slujitel"></th>
            <th asp-display-name-for="@Model.First().TekushtaData"></th>
            <th asp-display-name-for="@Model.First().User"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Number</td>
            <td>@item.Data</td>
            <td>@item.Moto</td>
            <td>@item.Slujitel</td>
            <td>@item.TekushtaData</td>
            <td>@item.User</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
