@model IEnumerable<Avto.Models.PListModel>

@{
    ViewData["Title"] = "Записи в пътни листи";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Нов</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th asp-display-name-for="@Model.First().Number"></th>
            <th asp-display-name-for="@Model.First().Data"></th>
            <th asp-display-name-for="@Model.First().Moto"></th>
            <th asp-display-name-for="@Model.First().Slujitel"></th>
            <th asp-display-name-for="@Model.First().TekushtaData"></th>
            <th asp-display-name-for="@Model.First().User"></th>
            <th asp-display-name-for="@Model.First().Transaks"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><a asp-action="Details" asp-route-id="@item.Id">@item.Number</a></td>
            <td>@item.Data</td>
            <td>@item.Transaks.FirstOrDefault().Moto.Name</td>
            <td>@item.Transaks.FirstOrDefault().Slujitel.Name</td>
            <td>@item.TekushtaData</td>
            <td>@item.User</td>
            <td>
                <ol>
                    @foreach (var transak in item.Transaks)
                    {
                        <li>@transak.Id | @transak.KmKm</li>
                    }
                </ol>
            </td>
        </tr>
}
    </tbody>
</table>
