@model IEnumerable<Avto.Data.PList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slujitel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zarabotka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izvan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TekushtaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slujitel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zarabotka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Izvan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TekushtaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
